.Loader {
    display: flex;
    justify-content: center;
}

.Loader__wrapper {
    background: #e8e4d7;
    box-shadow: inset 0 0 10px #a09b8b;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 100%;
}

.Loader__image {
    width: 100%;
    max-width: 300px;
    height: auto;
}
