.HomePage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title_homepage {
    font-family : 'Cinzel Decorative', cursive;
    margin: 0;
}

.text_homepage {
    padding:0 30px;
    margin-bottom: 0px;
}

.span_homepage {
    color: #C99A46;
}

.button_homepage {
    display: flex;
    justify-content: center;
    margin:0px auto;
    font-size: 16px;
    padding: 15px;
    background: #C99A46;
    border: 1px solid #F7F4E9;
    cursor: pointer;
    text-decoration: none;
}

.button_homepage span {
    color: #F7F4E9;
    text-transform: uppercase;
    font-size: 15px;
}