.AboutUs {
  padding:30px 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.AboutUs__wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 10px;
  padding:0;
  position: relative;
}

.AboutUs__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0px 0;
  border-bottom: 1px dashed #1E1E1E;
}

.AboutUs__wrapper__image {
  width: 35px;
  margin:0 15px 0 0;
}

.AboutUs__wrapper__text {
  margin-top: 20px;
}

.AboutUs__credits {
  margin-bottom: 30px;
  font-weight: bold;
}
