.MainPage__results--hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.MainPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

/* LARGE */
@media screen and (min-width: 1080px) {
    .MainPage {
        overflow: hidden;
        flex-direction: row;
    }
  }

.MainPage__wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.MainPage__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
}

/* LARGE */
@media screen and (min-width: 1080px) {
    .MainPage__left {
        padding:5%;
        box-sizing: border-box;
        width: 50%;
        transition: 0.4s;
    }
  }

  /* MEDIUM */
  @media screen and (min-width: 200px) and (max-width: 1079px) {
      .MainPage__left {
          height: 100%;
          justify-content:flex-start;
      }  
      .MainPage__left--hide{
          display: none;
      }
    }

.MainPage__left--hide {
      width: 0;
      padding:0;
      opacity: 0;
      transition: 0.4s;
  }

.MainPage__left::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -1;
    background: url(./images/bg-home.jpg) no-repeat center;
    background-size: cover;
    filter: grayscale(70%) contrast(115%);
}

.MainPage__left--full {
}

.functions__wrapper {
    background: rgba(30, 30, 30, 0.7);
    width: 100%;
    box-sizing: border-box;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #F7F4E9;
}

/* MEDIUM */
@media screen and (min-width: 200px) and (max-width: 1079px) {
    .functions__wrapper {
        height: 100%;
        overflow-y: scroll;
        box-sizing: content-box;
    }
}

.MainPage__left--hide .functions__wrapper {
    display: none;
}

.functions__wrapper__line {
    padding: 30px 15px;
}

/* LARGE */
@media screen and (min-width: 1080px) {
    .functions__wrapper {
        border-radius: 5px;
        padding: 15px;
        background: rgba(30, 30, 30, 0.9);
    }
    .functions__wrapper__line {
        border: 1px solid #F7F4E9;
        border-radius: 5px;
        padding: 30px 15px;
    }
  }

.functions__title {
    margin:0;
    font-family: 'Cinzel Decorative', cursive;
}

.functions__desc {
    line-height: 22px;
}

.MainPage__right {
    background: #F7F4E9;
    border:0;
    border-top: 10px solid #1E1E1E;
    box-shadow: 0px 0px 10px #1E1E1E;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 0.4s;
}

/* MEDIUM */
@media screen and (min-width: 0px) and (max-width: 1079px) {
    .MainPage__right {
        display: none;
    }    
  }

/* LARGE */
@media screen and (min-width: 1080px) {
    .MainPage__right {
        border-top: 0px;
        border-left: 10px solid #1E1E1E;
        width: 50%;
    }
    .MainPage__right--show {
        width: 100%;
        transition: 0.4s;
        border:0;
    }
  }

.MainPage__right--show {
    width: 100%;
    transition: 0.4s;
    border:0;
}

/* MEDIUM */
@media screen and (min-width: 200px) and (max-width: 1079px) {
    .MainPage__right--show{
        display: flex;
    }
  }

.MainPage__right--about {
    overflow-y: scroll;
}

.button__arrow__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-top:-45px;
}

/* LARGE */
@media screen and (min-width: 1080px) {
    .button__arrow__wrapper {
        width: 50px;
        height: 100%;
        margin-left: -50px;
        margin-top:0px;
    }
  }

.MainPage__right--show .button__arrow__wrapper  {
    margin-left: -10px;
}

.MainPage__right.MainPage__right--hide {
    display: none;
}

.button__arrow__wrapper button {
    height: 35px;
    width: 50px;
    background: url(./images/arrow_t.png) center no-repeat #1E1E1E;
    background-size: 10px;
    border:0;
    border-radius: 50% 50% 0px 0px;
    box-shadow: 0px 0px 10px #1E1E1E;
    cursor: pointer;
    outline: 0;
}

/* LARGE */
@media screen and (min-width: 1080px) {
    .button__arrow__wrapper button {
        width: 35px;
        height: 50px;
        border-radius: 50% 0px 0px 50%;
        background: url(./images/arrow.png) center no-repeat #1E1E1E;
        background-size: 10px;
    }
  }
  
.MainPage__right--show .button__arrow__wrapper button  {
    display: none;
}

.results__options {
    height: auto;
    background: #F7F4E9;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding:0 25px;
    box-sizing: border-box;
    transition: 0.4s;
}

/* MEDIUM */
@media screen and (min-width: 200px) and (max-width: 1079px) {
    .MainPage__right--show .results__options {
        transition: 0.4s;
        width: 100%;
    }
  }

/* LARGE */
@media screen and (min-width: 1080px) {
    .results__options {
        transition: 0.4s;
        left: auto;
        right: 0;
        width: calc(50% - 60px);
    }
    .MainPage__right--show .results__options {
        transition: 0.4s;
        width: calc(100% - 100px);
    }
  }

.results__options button {
    width: 40px;
    height: 40px;
    border:0;
    font-size: 17px;
    color: #F7F4E9;
    cursor: pointer;
}

.Loader__content {
    padding:30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
