.MainPage__results--hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.MainPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.MainPage__wrapper {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.MainPage__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:0%;
}

.MainPage__left::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -1;
    background-image: url(./images/bg-home.jpg);
    background-size: cover;
    filter: grayscale(70%) contrast(115%);
}

.functions__wrapper {
    background: rgba(30, 30, 30, 0.7);
    border-radius: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 5px;
    text-align: center;
    color: #F7F4E9;
}

.functions__wrapper__line {
    border: 0px solid #F7F4E9;
    border-radius: 5px;
    padding: 30px 20px;
}

.functions__title {
    margin:0;
    font-family: 'Cinzel Decorative', cursive;
}

.functions__desc {
    line-height: 22px;
}

.MainPage__right {
    background: #F7F4E9;
    border:0;
    border-top: 10px solid #1E1E1E;
    box-shadow: 0px 0px 10px #1E1E1E;
    position: relative;
}

.button__arrow__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-top:-45px;
}

.button__arrow__wrapper button {
    height: 35px;
    width: 50px;
    background: url(./images/arrow_t.png) center no-repeat #1E1E1E;
    background-size: 10px;
    border:0;
    border-radius: 50% 50% 0px 0px;
    box-shadow: 0px 0px 10px #1E1E1E;
}

.results__options {
    height: auto;
    background: #F7F4E9;
    box-shadow: 0px 0px 10px #1E1E1E;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding:0 25px;
    box-sizing: border-box;
}

.results__options button {
    width: 40px;
    height: 40px;
    border:0;
    font-size: 17px;
    color: #F7F4E9;
    cursor: pointer;
}