.Header {
    background: #0A1612;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LARGE */
@media screen and (min-width: 1080px) {
    .Header {
        flex-direction: column;
    }
  }