.Header {
    background: #0A1612;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Header-brand{
    background: #0A1612;
    padding:20px 40px;
}

.Header-brand img {
    width: auto;
    height: 50px;
}

#open-menu {
    display: none;
}

.Navbar-group {
    display: flex;
    justify-content: flex-end;
    margin:0 10px;
    padding: 0;
}

.Navbar-group-item {
    margin: 0 5px;
    list-style: none;
}

.Navbar-group-item a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .Header--mobile {
        flex-direction: column;
        align-items: stretch;
    }
    #open-menu {
        display: block;
        text-align: center;
        position: absolute;
        right: 20px;
        top: 30px;
        width: 30px;
        height: 30px;
        color: white;
        font-size: 28px;
        cursor: pointer;
    }
    .Navbar-group {
        display: none;
    }
    .Navbar-group--mobile {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }
    .Navbar-group-item {
        border-bottom: 1px solid #0A1612;
        padding:10px 15px;
        text-align: center;
        background: #252525;
    }

}